---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Profile from "../components/Profile.astro";
import MissionArchive from "../components/MissionArchive.astro";
import TrackRecord from "../components/TrackRecord.astro";
import Career from "../components/Career.astro";
import Deployment from "../components/Deployment.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<div id="top"><Hero /></div>
	<div id="profile"><Profile /></div>
	<div id="projects"><MissionArchive /></div>
	<div id="records"><TrackRecord /></div>
	<div id="career"><Career /></div>
	<div id="contact"><Deployment /></div>
	<Footer />
</Layout>

